<header>
  <a href="/"><button>Home</button></a>
  <a href="/tweet/"><button>Tweet</button></a>
  {% if request.user.tags.count > 0 %}
  <a href="/notify/"
    ><button>Notification {{request.user.tags.count}}</button></a
  >
  {% else %}
  <a href="/notify/"><button>Notification</button></a>
  {% endif %}
  <a href="/user/{{user.id}}/"><button>My Profile</button></a>
  {% if request.user.is_authenticated %}
  <a href="/logout/"><button>Logout</button></a>
  <a href="/admin/"><button>Admin</button></a>
  {% endif %}
</header>
<h2>Welcome, {{ request.user }}</h2>
<h4>
  Tweets: {{ request.user.posts }} Following: {{ user.following.count }}
  Followers: {{ user.followers.count }}
</h4>
<div>---------------------------------------------</div>
{% for tweet in tweets %}
<p>{{ tweet.tweet }}</p>
<p><a href="/user/{{tweet.tweeter.id}}/">@{{ tweet.tweeter }}</a></p>
<p><a href="/tweet/{{tweet.id}}/">{{ tweet.tweeted_at }}</a></p>
<div>---------------------------------------------</div>
{% endfor %}
